
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="" method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" />
    <input type="text" name="Author" placeholder="Author" class="form-control" />
    <input type="text" name="Edition" placeholder="Edition" class="form-control" />
    <input type="submit" value="Create" class="btn btn-danger" />
</form>
