
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body>
    <div> 
        <a class="btn btn-success" href="/student/index">Home</a>
        <h1>Projects of Tanvir</h1>
    </div>
</body>
</html>
